<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="robot_initpos_x" value="800.000"/>
    <add key="robot_initpos_y" value="000.000"/>
    <add key="robot_initpos_z" value="000.000"/>
    <add key="robot_initpos_w" value="180.000"/>
    <add key="robot_initpos_p" value="000.000"/>
    <add key="robot_initpos_r" value="-105.572"/>
    <add key="haptic_initpos_x" value="0"/>
    <add key="haptic_initpos_y" value="0"/>
    <add key="haptic_initpos_z" value="80"/>
    <add key="gain" value="1.0"/>
    <add key="ip_address" value="192.168.0.100"/>
    <add key="scale_factor" value="3.0"/>
  </appSettings>
</configuration>
